html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

div.inline { display: inline-block; padding: 0 20px 0 0; }
.form-control { min-width: 50px; }
.hours-lec, .hours-lab { display: none; }
.hours-lab + label { display: inline-block;  }
.form-group.field-teachersubjectgroups-hours_lec { display: none; }
.form-group.field-teachersubjectgroups-hours_lab, .field-cworks-cworks_default_id { display: none; }
h1 { font-size: 26px; }
.row.menu-abs { /*position: relative;*/ }
.left-menu { color: #dddddd; font-size: 12px; width: 220px; text-align: center; cursor: pointer; /*position: absolute;*/ margin: 0 0 10px 0px; border: solid 1px #ddd; border-radius: 4px; padding: 3px;}
.left-menu:hover { color: #FFFFFF; background-color: #dddddd; cursor: pointer;}
.journal-values .month-label { font-weight: bold; text-align: center; }
.journal-values .value { text-align: center; vertical-align: middle; cursor: pointer; }
.journal-view .students { float: left; font-size: 10px; }
.journal-view .students table thead tr th { height: 62.5px; text-align: center; vertical-align: middle; }
.journal-view.table .table-bordered > thead > tr > th, .journal-view.table .table-bordered > tbody > tr > th, .journal-view.table .table-bordered > tfoot > tr > th, .journal-view.table .table-bordered > thead > tr > td, .journal-view.table .table-bordered > tbody > tr > td, .journal-view.table .table-bordered > tfoot > tr > td { border: 1px solid #828282; }
.journal-view .table-bordered { border: 1px solid #828282; }
.breadcrumb { font-size: 12px; }
.labs-students-table { font-size: 12px; }